    <include file="Layout:header" />
    	                  <div class="row-fluid">
                <div class="span12">
                    <div class="tabbable" id="tabs-495601">
                        <ul class="nav nav-tabs">
                            <li class = "active">
                                <a href="#panel-411320" data-toggle="tab">修改信息书籍信息</a>
                            </li>
                            <li>
                                <a href="#panel-873607" data-toggle="tab">手动添加书籍</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="panel-411320">
                                <table class="table table-striped">
                                   <caption>选择输入</caption>
                                   <div style = "margin-top:6px;"> 
                                        <input type = "text" id = "bookname" placeholder = "请输入书名">
                                        <button type = "submit " id = "submit_stu" class = "btn btn-default" style = "height:24px;margin-left:10px;line-height:5px;" >查找书籍</button>
                                        <form action = "{:U('Excel/showExcel')}" method ="post" style = "display:inline-block">
                                          <input type="hidden" name = "stunum" value = "" id = "goal_stu">
                                        </form>
                                    </div>
                                   <thead>
                                      <tr>
                                         <th>书名</th>
                                         <th>导入时间</th>
                                         <th>数量</th>
                                         <th>出版社</th>
                                         <th>作者</th>
                                         <th>修改数据</th>
                                      </tr>
                                   </thead>
                                   <tbody  id = "content_book">
                                      
                                    </tbody>
                                   </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="panel-873607">
                                <table class="table table-striped">
                                   <caption>添加书籍</caption>
                                   <thead>
                                      <tr>
                                      </tr>
                                   </thead>
                                   <tbody>
                                        <tr>
                                          <td style = "display:block;width:400px;">
                                            <div class="input-group">
                                               <span class="input-group-addon">书名</span>
                                               <input type="text" class="form-control" id = "addone_bookname" placeholder="">
                                            </div>
                                            </br>
                                            <div class="input-group">
                                               <span class="input-group-addon">作者</span>
                                               <input type="text" class="form-control" placeholder="" size = "1" id = "addone_auth" >
                                            </div>
                                            </br>
                                            <div class="input-group">
                                               <span class="input-group-addon">数量</span>
                                               <input type="text" maxlength = "10" class="form-control" onkeyup="value=value.replace(/[^\d]/g,'')" placeholder="数字" id = "addone_num">
                                            </div>
                                            </br>
                                            <div class="input-group">
                                               <span class="input-group-addon">出版社</span>
                                               <input type="text" class="form-control" placeholder="" id= "addone_pubhouse">
                                            </div>
                                            </br>
                                            <input type = 'submit' id = 'addone' class = "btn btn-default"value='提交' >
                                          </td>
                                      </tr>
                                   </tbody>
                                </table>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" 
           aria-labelledby="myModalLabel" aria-hidden="true">
           <div class="modal-dialog">
              <div class="modal-content">
                 <div class="modal-header">
                    <button type="button" class="close" 
                       data-dismiss="modal" aria-hidden="true">
                          &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                       修改数据
                    </h4>
                 </div>
                 <div class="modal-body container">
                    <div class ="col-xs-6 col-md-5" >
                        <div class="input-group">
                           <span class="input-group-addon">书名</span>
                           <input type="text" class="form-control" id = "change-one_bookname" placeholder="姓名">
                        </div>
                        </br>
                        <div class="input-group">
                           <span class="input-group-addon">数量</span>
                           <input type="text" maxlength = "5" class="form-control" onkeyup="value=value.replace(/[^\d]/g,'')" placeholder="数字" id = "change-one_num">
                        </div>
                        </br>
                        <div class="input-group">
                           <span class="input-group-addon">作者</span>
                           <input type="text" class="form-control" placeholder="姓名" id= "change-one_auth">
                        </div>
                        </br>
                        <div class="input-group">
                           <span class="input-group-addon">出版社</span>
                           <input type="text" class="form-control" placeholder="出版社名字" id= "change-one_pubhouse">
                        </div>
                        </br>
                        <div class="input-group">
                           <span class="input-group-addon">购买时间</span>
                           <span type="text" class="form-control" id = "change-one_purchingtime" ></span>
                        </div>
                        </br>
                        <input type="hidden" value = "" id = "change-one_id">
                    </div>
                 </div>
                 <div class="modal-footer">
                    <button type="button" class="btn btn-default" 
                       data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-primary" id = "submit-change-one">
                       提交更改
                    </button>
                 </div>
              </div><!-- /.modal-content -->
        </div>
    <include file="Layout:footer" />
<!--     <script>
        $('#same2').click(function() {
          $('input[id=lefile2]').click();
        });
        $('input[id=lefile2]').change(function() {
          $('#photoCover2').val($(this).val());
        });
    </script>
    <script>
        $('#same').click(function() {
          $('input[id=lefile]').click();
        });
        $('input[id=lefile]').change(function() {
          $('#photoCover').val($(this).val());
        });
    </script> -->
    <script>
        $("#stu_state").hide();
        var queryUrl = "{:U('Excel/searchBook')}"; 
        $('#submit_stu').on('click', function () {
            $.ajax({
                url: queryUrl,
                type: 'POST',
                data: {
                    bookname: $('#bookname').val(),
                },
                dataType: '',
                success: function (res) {
                    var data = $.parseJSON(res);
                    var string;
                    if (data.state == 200) {
                      $('#content_book').children().remove();
                      for (var i = 0; i < data.data.length; i++) {
                          var ele = data.data[i];
                          if(ele == undefined){
                              continue;
                          }
                          string += "<tr><td>"+ele.bookname+"</td><td>"+ele.purchingtime+"</td><td>"+ele.num+"</td><td>"+ele.pubhouse+"</td><td>"+ele.auth+"</td><td>"+"<button class= 'changeshow btn btn-default' id ='changeshow'  data-id='"+ele.id+"'>修改</button>"+"</td></tr>";
                        }
                      $('#content_book').append(string);
                      $('.changeshow').on('click', function () {
                          $("#myModal").modal();     
                          var id =  $(this).attr("data-id"); 
                          $.ajax({
                            url: "{:U('Excel/searchBook')}",
                            type: 'POST',
                            data: {
                                id:id,
                            },
                            dataType: '',
                            success: function (res) {
                                var data = $.parseJSON(res);
                                if (data.state == 200) {
                                  var ele = data.data;
                                  $("#change-one_bookname").val(ele.bookname);
                                  $("#change-one_auth").val(ele.auth);
                                  $("#change-one_num").val(ele.num);
                                  $("#change-one_pubhouse").val(ele.pubhouse);
                                  $("#change-one_id").val(ele.id);
                                  $("#change-one_purchingtime").html(ele.purchingtime);
                                }else if (res.state == 404){
                                  alert(data.info);
                                }
                            },
                            error: function () {
                                alert('网络错误');
                            }
                        })
                      });
                    }else if (data.state == 404){
                      alert(data.info);
                    }
                },
                error: function () {
                    alert('网络错误');
                }
            })
        });
    </script>
<!--     <script>
        var addoneUrl = "{:U('Excel/addOne')}"; 
        $('#addone').on('click', function () {
            $.ajax({
                url: addoneUrl,
                type: 'POST',
                data: {
                    addone_bookname: $('#addone_bookname').val(),
                    addone_pubhouse: $('#addone_pubhouse').val(),
                    addone_num: $('#addone_num').val(),
                    addone_auth: $('#addone_auth').val(),
                },
                dataType: '',
                success: function (res) {
                    var res = $.parseJSON(res);
                    if (res.state == 200) {
                      alert(res.info);
                    }else if (res.state == 404){
                      alert(res.info);
                    }
                },
                error: function () {
                    alert('网络错误');
                }
            })
        });
    </script>
    <script>
        $('#submit-change-one').on('click', function () {
            $.ajax({
                url: "{:U('Excel/update')}",
                type: 'POST',
                data: {
                    id: $('#change-one_id').val(),
                    bookname: $('#change-one_bookname').val(),
                    num: $('#change-one_num').val(),
                    id: $('#change-one_id').val(),
                    pubhouse: $('#change-one_pubhouse').val(),
                    auth: $('#change-one_auth').val(),
                },
                dataType: '',
                success: function (res) {
                    var res = $.parseJSON(res);
                    if (res.state == 200) {
                      alert(res.info);
                      history.go(0);
                    }else if (res.state == 404){
                      alert(res.info);
                    }
                },
                error: function () {
                    alert('网络错误');
                }
            })
        });
    </script>
 -->